# OpenWeather
OPENWEATHER_API_KEY=your_api_key_here

# PostgreSQL
POSTGRES_USER=weather
POSTGRES_PASSWORD=weather
POSTGRES_DB=weather_db

# SQLAlchemy (aponta para o serviço "db" do docker-compose)
DATABASE_URL=postgresql://weather:weather@db:5432/weather_db

# Ingestão
CITIES=Florianopolis,BR
FETCH_INTERVAL_MINUTES=30

# Ambiente: development | production
ENV=development
