# OpenWeather
OPENWEATHER_API_KEY=your_api_key_here

# PostgreSQL
POSTGRES_USER=weather
POSTGRES_PASSWORD=weather
POSTGRES_DB=weather_db

# SQLAlchemy (aponta para o serviço "db" do docker-compose)
DATABASE_URL=postgresql://weather:weather@db:5432/weather_db

# Ingestão
# Cidades monitoradas separadas por ; (nome,país)
CITIES=Florianopolis,BR
# Coordenadas das cidades em mesma ordem que CITIES (lat,lon separados por ;)
# Necessário para a fonte Open-Meteo
CITIES_COORDS=-27.5954,-48.548
FETCH_INTERVAL_MINUTES=30

# Ambiente: development | production
ENV=development
