# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtualenv
.venv/
venv/
env/

# Environment
.env

# Alembic
alembic/versions/*.py

# Pytest / mypy
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
